* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

body {
    background-color: hsl(0, 0%, 95%);
    padding-top: 20vh;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.card {
    width: 20%;
    padding: 3.2rem;
}

.card:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
}

.card:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.card:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
}

.card-title {
    margin-top: 2.6rem;
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
}

.card-text {
    margin-top: 2.6rem;
    color: hsla(0, 0%, 100%, 0.6);
}

a.card-link-btn,
a.card-link-btn:link,
a.card-link-btn:visited,
a.card-link-btn:focus {
    display: inline-block;
    margin-top: 6rem;
    text-decoration: none;
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 2.5rem;
    background-color: hsl(0, 0%, 95%);
    padding: 1rem 2rem;
    transition: all 0.2s linear;
}

.card:nth-child(1) > a.card-link-btn {
    color: hsl(31, 77%, 52%);
}

.card:nth-child(1) > a.card-link-btn:hover,
.card:nth-child(1) > a.card-link-btn:active {
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
}

.card:nth-child(2) > a.card-link-btn {
    color: hsl(184, 100%, 22%);
}

.card:nth-child(2) > a.card-link-btn:hover,
.card:nth-child(2) > a.card-link-btn:active {
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
}

.card:nth-child(3) > a.card-link-btn {
    color: hsl(179, 100%, 13%);
}

.card:nth-child(3) > a.card-link-btn:hover,
.card:nth-child(3) > a.card-link-btn:active {
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
}