* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 15vh;
}

.card {
    width: 20%;
}

.card:nth-child(1) {
    background-color: rgb(226, 133, 37);
}

.card:nth-child(2) {
    background-color: rgb(1, 105, 114);
}

.card:nth-child(3) {
    background-color: rgb(0, 64, 63);
}

.card:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-icon {

}

.card-title {
    text-transform: uppercase;
}

.card-text {

}

.card-link-button {
    text-decoration: none;
}